.img-overlay-wrap {
    display: inline-block; /* <= shrinks container to image size */
    position: relative;
    transition: transform 150ms ease-in-out;
    width: 100%;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 5.5%;
    left: 10%;
}

.img-overlay-wrap canvas {
    position: absolute;
    top: 5.5%;
    left: 5%;
    right: 5%;
    border-radius: 30px;
}

.pretty_container_center {
    background: #1f447b;
    margin: 20px 0px 20px 0px;
    height: 68vh;
    border-radius: 10px;
}

.pretty_container_center > h2 {
    position: absolute;
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 2.5em;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.pretty_container_center > p {
    display: absolute;
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 1.75em;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.options {
    float: left;
}

.pretty_container_left {
    background: #1f447b;
    margin: 20px 40px 20px 40px;
    padding: 15px;
    height: 68vh;
    border-radius: 10px;
}
.pretty_container_left > h4 {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.pretty_container_left > div {
    padding-bottom: 25px;
}

.pretty_container_left > ul {
    margin-left: -15px;
}

.pretty_container_left > a {
    position: absolute;
    margin-bottom: 40px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.asd {
    margin-bottom: 25px !important;
}

.containerPosture {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: default;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiob {
    margin-left: 20px;
}
.radiob > label {
    padding-left: 5px;
}

/* Hide the browser's default checkbox */
.containerPosture input {
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerPosture:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerPosture input:checked ~ .checkmark {
    background-color: #82c0ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerPosture input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerPosture .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
