.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    /* background-color: #2980b9; */
    border: 1px black solid;
}
.flex-row > div {
    width: auto;
    height: auto;
    margin: 10px;
    /* border-radius: 4px; */
}

h1 {
    color: red;
}

.current-bpm {
    background-color: #70797d !important;
    box-shadow: 0px 0px 6px #70797d;
    width: 240px !important;
    height: 240px !important;
    text-align: center;
    font-size: 80pt !important;
    padding-top: 30px;
    border-radius: 100%;
    margin: auto;
}

html,
body {
    font-family: "Roboto", sans-serif;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.medidor {
    height: 30px;
    background: #636e72;
    background: linear-gradient(90deg, #ffbfbf 0%, #c4c0ff 100%);
    margin-top: 10%;
    border-radius: 5px;
}

.outline {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.boxed {
    border: 2px solid #dfe6e9;
    cursor: pointer;
    border-radius: 15px;
    background-color: #ced5d8;
}
.boxed canvas {
    display: block;
}

.panel-history {
    background-color: #a4aeb2;
    width: "100%";
    margin: auto;
    margin-top: 10%;
}

.history {
    width: 35px !important;
    height: 35px !important;
    margin-right: 15px !important;
    margin-left: 40px !important;
    margin-top: 5px !important;
    text-align: center;
    color: #636e72;
}

.bpm-info {
    /* box-shadow: 0px 0px 2px black; */
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 1px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #dfe6e9;
}
