body {
    margin: 0;
    padding: 0;
    display: grid;
    background: #333e5a;
}

a {
    color: black;
}

header {
    background: #a1212d;
    color: #fff;
    text-align: center;
}

main .controls {
    text-align: center;
    /* padding: 0.5em 0; */
    /* background: #333e5a; */
    color: #fff;
}
main canvas {
    padding: 20px;
    margin: 0 auto;
    display: block;
}
footer {
    background: #333e5a;
    color: #fff;
    text-align: center;
}
