.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 8.5%;
    left: 3.5% !important;
}

.img-overlay-wrap canvas {
    position: absolute;
    top: 5.5%;
    left: 3.5%;
}

.options {
    float: left;
}

.pose {
    background: #1f447b;
    border-radius: 10px;
}

.pretty_container_left {
    background: #1f447b;
    margin: 20px 40px 20px 40px;
    padding: 15px;
    height: 640px;
    border-radius: 10px;
}
.pretty_container_left > h4 {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.pretty_container_left > div {
    padding-bottom: 25px;
}

.pretty_container_left > ul {
    margin-left: -15px;
}

.asd {
    margin-bottom: 25px !important;
}

.pretty_container_center {
    background: #1f447b;
    margin: 20px 0px 20px 0px;
    height: 640px;
    border-radius: 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #82c0ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
